.cart {
    margin: 10px;
    margin-left: auto;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 25px;
    font-size: 14px;
    color: white;
    border: none;
}

button:hover,
button:active {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.623);
}

.cart svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.cartCount {
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 15px;
    background-color: rgba(42, 123, 155, 1);
    border-radius: 15px;
}