.show-form {
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(87, 199, 133, 1);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.tshirts-container {
    min-height: 100vh;
    box-sizing: border-box;
    padding: 1rem;
    padding-top: 5rem;
}

.tshirts {
    list-style: none;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.ai-analyze-stock-btn {
    margin: 1rem;
    padding: 1rem;
    background-color: #2A7B9B;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

.ai-analyze-stock-btn:hover,
.ai-analyze-stock-btn:active {
    background-color: #2a7b9b9f;
}